// Set viewport options
@-webkit-viewport {width: device-width;}
@-mos-viewport {width: device-width;}
@-ms-viewport {width: device-width;}
@-o-viewport {width: device-width;}
@viewport {width: device-width;}

// Set box sizing
*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

// Base Styles
body {
	
	background-color: $navy;
	background-image: url('../../img/pattern.svg');
	background-position: left top;
	background-size: 400px;

}

h2, h3, h4, h5, h6 {
	
	padding-top: .25em;
	
}

h1 {
	
	@include lato-bold(35px);
	
	color: $white;
	text-transform: uppercase;
	
}

h2 {
	
	@include lato-bold(28px);
	
	color: $magenta;
	padding-top: .5em;
	
}

h3 {
	
	@include lato-bold(25px);
	
	color: $true-blue;
	padding: .25em 0;
	
}

h4 {
	
	@include lato-light(20px);
	
	color: $magenta;
	
}

h5 {
	
	@include lato-light(18px);
	
	color: $med-blue;
	line-height: 1.25em;
	
}

h6 {
	
	@include lato-light-ital(16px);
	
	color: $true-blue;
	line-height: 1.25em;
	
}

p {
	
	@include crimson(18px);
	
	color: $blue-gray;
	line-height: 1.5em;
	padding: .5em 0 1.25em 0;
	
}

a {
	
	@include transition (color 500ms ease-in-out);
	
	color: $bright-magenta;
	text-decoration: none;
	
	&:hover {
		
		color: $dark-magenta;
		
	}
	
}

strong {
	
	@include lato-bold(16px);
	
	color: $blue-gray;
	
}

em {
	
	@include crimson-ital(18px);
	
}

blockquote {

	border-left: 1px solid $bright-magenta;
	margin: .75em 0;
	padding: .5em 0 .75em 0;

	p {
		
		@include lato-normal-ital(30px);
		
		color: $true-blue;
		display: block;
		line-height: 1.35em;	
		margin-left: 1em;
		padding: 0;
		
	}
	
}

.reversed {
	
	p {
		
		@include lato-light(14px);
		
		color: $off-white;
		letter-spacing: 1px;
		
		em {
			
			@include lato-light-ital(14px);
			
		}
		
	}
	
}