// Set viewport options
@-webkit-viewport {width: device-width;}
@-mos-viewport {width: device-width;}
@-ms-viewport {width: device-width;}
@-o-viewport {width: device-width;}
@viewport {width: device-width;}

// Set box sizing
*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

// Base Styles
body {
	
	background-color: $navy;
	background-image: url('../../img/hex.svg');
	background-position: left top;
	background-size: 220px;

}

h1 {
	
	@include lato-bold(35px);
	
	color: $white;
	text-transform: uppercase;
	
}

p {
	
	@include crimson(18px);
	
	color: $blue-gray;
	line-height: 1.25em;
	padding: .75em 0;
	
}

a {
	
	@include transition (color 500ms ease-in-out);
	
	color: $bright-magenta;
	text-decoration: none;
	
	&:hover {
		
		color: $dark-magenta;
		
	}
	
}