/***

Global Styles

The global stylesheet is designed to handle some overarching settings such
as viewport settings and box sizing. Any additional high level styles can 
be added to this file as needed.

***/

// Set viewport options
@-webkit-viewport {width: device-width;}
@-mos-viewport {width: device-width;}
@-ms-viewport {width: device-width;}
@-o-viewport {width: device-width;}
@viewport {width: device-width;}

// Set box sizing
*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

// Base Styles
body {
	background: lighten($black, 95%);
	color: lighten($black, 25%);
	font-size: $mobile_font_size;

	@include mediaQuery(768px) {
		font-size: $tablet_font_size;
	}

	@include mediaQuery(1024px) {
		font-size: $desktop_font_size;
	}
}

%container {
	margin: 0 auto;
	max-width: 1400px;
	padding: 0 1rem;

	@include mediaQuery(768px) {
		padding: 0 2rem;
	}
}

#app {}

#main {
	background: $white;
	border-top: 1px solid lighten($black, 85%);
	border-bottom: 1px solid lighten($black, 85%);
	@include clearfix();
}

.container {
	@extend %container;
}

.primary {
	padding: 1rem 0;
	width: 100%;

	@include mediaQuery(768px) {
		float: left;
		padding: 2rem 0;
		width: 70%;
	}

	&.-left {
		@include mediaQuery(768px) {
			padding-right: 2rem; 
		}
	}
}

.sidebar {
	background: lighten($black, 95%);
	border: 1px solid lighten($black, 85%);
	margin: 2rem 0;
	padding: 0 2rem 2rem;
	width: 100%;

	@include mediaQuery(768px) {
		float: right;
		margin: 3rem 0;
		width: 30%;	
	}
}