header {
	
	overflow: auto;
	padding-top: 2em;
	position: relative;
	
	.nav-bar {
		
		@include outer-container;
		
		height: 80px;

		.logo {
			
			float: left;
			width: 80px;
			
		}
		
		nav {
			
			@include lato-normal(22px);
			
			float: left;
			padding-top: 30px;
			text-transform: uppercase;
			
			ul {
				
				li {
					
					display: inline-block;
					padding-left: 35px;
					
					&.current-menu-item > a {
						
						border-bottom: 1px solid $bright-magenta;
						
					}
					
					a {
						
						color: $white;
						padding-bottom: .2em;
						
						&:hover {
							
							color: $white;
							border-bottom: 1px solid $bright-magenta;
							
						}
						
					}
					
				}
				
			}
			
		}
		
		.search {
			
			float: right;
			opacity: .2;
			padding-top: 20px;
			width: 40px;
			
			@include transition (all 100ms ease-in-out);
			
			&:hover {
				
				opacity: .6;
				
			}
			
		}
		
	}
	
	.masthead {
	
		@include span-columns(7);
		
		line-height: 2.4em;
		padding: 2em 2.75em 3.5em 2em;
		
		span {
			
			text-transform: none;
			
		}
		
		h1 {
			
			border-bottom: 1px solid $bright-magenta;
			border-top: 1px solid $bright-magenta;
			padding: .75em 0;
			
		}
		
	}
	
	.home-pic {
		
		bottom: 0;
		position: absolute;
		width: 250px;
		
	}
	
}