.feed {
	
	@include span-columns(4);
	
	display: inline-block;
	height: 100%;
	padding: 1.5em 1em;
	
	h3 {
		
		padding: .75em 0 .5em 0;
		
	}
	
	img {
		
		height: 160px;
		width: 160px;
		
	}
	
	.overlay {
		
		display: block;
		padding-bottom: 1em;
		position: relative;
		text-align: center;
		
		&:before {
			
			content: '';
			border-radius: 80px;
			bottom: 0;
			height: 160px;
			opacity: .25;
			position: absolute;
			top: 0;
			width: 160px;
			
		}
		
		&:after {
			
			content: '';
			color: white;
			left: 0;
			position: absolute;
			right: 0;
			top: 33%;
			
			@include lato-light(35px);
			
		}
		
	}
	
	.lectures {
	
		&:before {
			
			background-color: $navy;
			
		}
	
		&:after {
			
			content: 'Lectures';
			
		}
		
	}
	
	.matter {
		
		&:before {
			
			background-color: $bright-magenta;
			
		}
	
		&:after {
			
			content: 'Matter';
			
		}
		
	}
	
	.life {
		
		&:before {
			
			background-color: $true-blue;
			
		}
	
		&:after {
			
			content: 'Life';
			
		}
		
	}
	
	.post {
		
		clear: both;
		padding: .5em 0 0 0;
		width: 100%;
	
		.date {
			
			@include lato-light(18px);
			
			background-color: #cfcfcf;
			border-radius: 30px;
			color: $true-blue;
			float: left;
			height: 60px;
			text-align: center;
			width: 60px;
			
			.month {
				
				margin-top: .65em;
				
			}
			
		}
		
		.post-link {
			
			float: left;
			padding: .95em 0 0 1em;
			
		}
		
		.excerpt {
			
			clear: both;
			text-align: left;
			
		}
	
	}
	
	.view-all {
		
		@include lato-light(18px);
		
		clear: both;
		display: block;
		text-align: center;
		
		a {
		
			&:after {
			
				background-image: url('../../img/caret.svg');
				content: '';
				display: inline-block;
				height: 15px;
				margin-left: .5em;
				vertical-align: bottom;
				width: 12px;
				 
			}
			
			&:hover {
			
				&:after {
					
					@include transition(all .1s ease-in-out);
					
					margin-left: .75em;
					
				}
				
			}
			
		}
		
	}
	
}