.category-wrapper {

	background-color: $off-white;
	padding-bottom: 1em;

	.list {
	
		@include outer-container; 
		@include lato-light(16px);
		
		.items {
		
			@include span-columns(12);
			
			line-height: 2em;
			
			@include mediaQuery(510px){
							
				line-height: inherit;
				
			}
		
			@include mediaQuery(785px){
		
				@include span-columns(8);
				@include shift(1);
			
			}
			
			@include mediaQuery(1044px) {
				
				@include span-columns(6);
				
			}
			
			background-color: $navy;
			height: 100% !important;
			padding: 1em;
		
			li {
				
				display: inline;
				list-style-type: none;
				padding: 0 .5em;
				
				a {
					
					color: white;
					
					&:hover {
						
						border-bottom: 3px solid $bright-magenta;
						color: $bright-magenta;
						padding-bottom: .25em;
						
						@include mediaQuery(510px){
							
							padding-bottom: .75em;
							
						}
						
					}
					
				}
				
				&.current-cat {
					
					border-bottom: 3px solid $bright-magenta;
					color: $bright-magenta;
					padding-bottom: .25em;
					
					@include mediaQuery(510px){
							
						padding-bottom: .75em;
						
					}
					
				}
				
			}
		
		}
		
		.matter {
		
			@include span-columns(12);
			
			@include mediaQuery(610px){
				
				@include span-columns(5);
				
			}
			
			@include mediaQuery(766px){
				
				@include span-columns(4);
				
			}
		}
	
	}
	
}

article {

	@include outer-container;

	.feature-img {
	
		@include span-columns(4);
		@include shift(4);
		
		display: inline-block;
		padding-top: 2em;
		text-align: center;
		
		img {
		
			width: 100%;
		
		}
		
		@include mediaQuery(600px){
			
			@include span-columns(2);
			@include shift(1);
			
		}
		
	}
	
	.meta {
	
		@include span-columns(12);
		
		@include mediaQuery(600px){
			
			@include span-columns(9);
			
		}
		
		@include mediaQuery(1024px){
			
			@include span-columns(7);
			
		}
	
		display: inline-block;
		padding: 2em;
		
		h3 {
		
			a {
				
				color: $true-blue;
				
				&:hover {
					
					color: $med-blue;
					
				}
				
			}
			
		}
		
		.read-more {
			
			@include lato-light(16px);
			
			&:after {
			
				background-image: url('../../img/caret.svg');
				content: '';
				display: inline-block;
				height: 12px;
				margin-left: .5em;
				vertical-align: middle;
				width: 10px;
				 
			}
			
		}
		
	}
	
}

.pagination {

	padding: 1em 0;
	text-align: center;
	
	ul > li {
		
		@include lato-light(16px);
		
		display: inline-block;
		list-style-type: none;
		margin: 0 1em;
		
	}
	
	.older {
		
		&:after {
			
			background-image: url('../../img/caret.svg');
			content: '';
			display: inline-block;
			height: 15px;
			margin-left: .5em;
			vertical-align: middle;
			width: 12px;
			 
		}
		
	}
	
	.newer > a {
		
		&:before {
			
			@include transform(rotate(180deg));
			
			background-image: url('../../img/caret.svg');
			content: '';
			display: inline-block;
			height: 15px;
			margin-right: .5em;
			vertical-align: middle;
			width: 12px;
			 
		}
		
	}
	
}