.sidebar {

	@include span-columns(12);
	
	padding: 0 2em;
	
	@include mediaQuery(800px){
		
		@include span-columns(3);
		
		padding: 0;
		
	}
	
	.link {

		@include lato-normal(18px);
		
		border-bottom: 1px solid #b7b7b7;
		border-top: 1px solid #b7b7b7;
		margin-top: 1em;
		padding: .75em 0 1em 0;
		
		a {
			
			color: $blue;
			text-transform: uppercase;
			
			&:hover {
				
				color: $bright-blue;
				
			}
			
			h5 {
				
				margin-left: 1em;
				
				&:after {
					
					@include lato-normal(28px);
				
					content:">";
					padding-left: .5em;
					position: absolute;
					
				}
				
				@include mediaQuery(1024px){
				
					margin-left: 2em;
				
					&:after {
					
						@include lato-normal(28px);
					
						padding-left: 2em;
						
					}
				
				}
				
			}
			
		}
		
	}
	
	.social {
		
		@include clearfix;
		
		margin-left: 1.5em;
		padding: 2em 0;
		
		@include mediaQuery(800px){
			
			margin-left: .5em;
			
		}
		
		.icon {
			
			float: left;
			width: 60px;
			margin: 0 .75em;
			
		}
		
	}	
	
}